<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filolearning student shop</title>
    <!-- Linkeo CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Linkeo fonts de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Roboto&display=swap" rel="stylesheet">
    <!-- toastify CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <!-- Linkeo archivo CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <!-- Inicio encabezado -->
    <div class="container-fluid">
        <header class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-danger">
                <div class="container-fluid">
                    <a class="navbar-brand tipografiaLogo" href="../index.html">
                        <img src="../assets/img/logo.png" alt="logo">
                        Filolearning Shop
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Consultas</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-dark" type="submit">Buscar</button>
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cart-fill carritoIcono" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
    </div>    
    <main class="container-fluid">
        <section class="row">
            <div class="col-12">
                <h1>Formulario de contacto</h1>
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                <h2>Envía tu consulta</h2>
                <p>Completa el formulario que se muestra a continuación y dejanos tus dudas</p>
            </div>    
        </section>
        <form class=" row d-flex flex-column justify-content-center align-items-center" id="formulario">
            <section class="col-lg-6 col-md-6 formularioContacto">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com" required>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Motivo de consulta</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Elige tu motivo</option>
                        <option value="1">Envíos</option>
                        <option value="2">Productos</option>
                        <option value="3">Garantías y descuentos</option>
                        <option value="4">Otro motivo</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Nombre completo</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre y apellido/s" required>
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Teléfono</label>
                    <input type="number" class="form-control" id="formGroupExampleInput3" placeholder="Ingresa un número de teléfono" required>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Consulta</label>
                    <textarea class="form-control" id="consulta" rows="3"></textarea> 
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                    <label class="form-check-label" for="exampleCheck1">Acepto términos y condiciones</label>
                </div>
                <div class="contenedorBotones">
                    <button type="submit" class="btn btn-primary botones">Enviar</button>
                    <button type="reset" class="btn btn-danger botones">Borrar</button>
                </div>    
            </section>    
        </form>
    </main>
    <div class="container-fluid">
        <footer class="row bg-light">
            <div class="col-lg-3 col-md-3 ofertas">
                <div>
                    <strong>¡Recibí las mejores ofertas!</strong>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 ofertas">
                <div class="d-flex flex-row">
                    <input type="email" class="form-control" id="suscripcion" placeholder="nombre@ejemplo.com">
                    <button type="button" class="btn btn-primary" id="suscribirse">SUSCRIBIRME</button>
                </div>
            </div> 
            <div class="col-lg-3 col-md-3 d-flex flex-row ofertas">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
                <strong>ENVÍOS EN TODO AMBA</strong>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>
                    <strong>Lo más buscado</strong>
                    <p class="items">Cuadernos y carpetas</p>
                    <p class="items">Útiles</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>
                    <strong>Marcas</strong>
                    <p class="items">Rivadavia</p>
                    <p class="items">Éxito</p>
                    <p class="items">Casio</p>
                    <p class="items">Twise</p>
                    <p class="items">Filgo</p>
                    <p class="items">Faber Castell</p>
                    <p class="items">AVON</p>
                    <p class="items">Maped</p>
                    <p class="items">Pelikan</p>
                    <p class="items">BIC</p>
                </div>
            </div> 
            <div class="col-lg-3 col-md-3">
                <div>
                    <strong>Ayuda</strong>
                    <p class="items">Sucursales</p>
                    <p class="items">Contacto</p>
                    <p class="items">Medios de pago</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div>
                    <strong>Filolearning Shop</strong>
                    <p class="items">Sumate como vendedor</p>
                    <p class="items">Sumate a nuestro equipo de atención online</p>
                </div>
            </div> 
            <div class="col-lg-12 col-md-12">
                <div class="d-flex justify-content-center copyright">
                    <strong>Copyright © 2022 Filolearning Shop</strong>
                </div>
            </div>              
        </footer>
    </div>    
    <!-- Linkeo JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Linkeo archivo JS -->
    <script src="../js/contacto.js"></script>
</body>
</html>    